h1 {
  background: rgba(0, 0, 0, 0.952);
  text-align: center;
  display: fixed;
  padding: 75px;
  margin: -25px;
  margin-left: -50px;
  margin-right: -55px;
  font-family: impact;
  font-size: 50px;
  text-decoration: underline;
  text-decoration-color: orangered;
  text-decoration-style: wavy;
  color: rgb(34, 191, 253);
  transform: skewX(-20deg);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: crimson;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: -20px;
  padding: 25px;
}

body {
  text-align: center;
  background: url(https://i.redd.it/o8cwra0gi1s61.jpg) repeat;
  background-size: 35%;
  overflow-x: hidden;
}

.search-line {
  text-align: center;
  display: fixed;
  background: rgb(34, 191, 253);
  font-size: 150%;
  margin-top: 15px;
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: -18px;
  padding: 20px;
}

.search-box {
  text-align: center;
  display: fixed;
  size: 150%;
}

.anime-displayer {
  grid-template-columns: (1, auto);
  text-align: center;
  background: rgba(15, 31, 104, 0.8);
  padding: -50px;
}

.anime-list {
  text-align: center;
  grid-template-columns: (1, auto);
  background: rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin-top: 18px;
  margin-left: -35px;
  margin-right: -35px;
  margin-bottom: -35px;
}

.anime-score {
  color: crimson;
  font-family: impact;
  font-style: bold;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.anime-episodes {
  color: orangered;
  text-decoration: underline;
  font-size: 125%;
  margin-top: -5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.anime-image {
  text-align: center;
  padding: 25px;
  margin-top: -5px;
  transform: scale(1.1);
}

.anime-image:hover {
  transform: scale(1.15);
}

.anime-desc {
  text-align: center;
  background: rgba(9, 17, 54, 0.8);
  color: rgb(255, 66, 104);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 25px;
  padding: 20px;
  display: none;
}

.anime-image:hover + .anime-desc {
  text-align: center;
  display: block;
  margin: 0;
}

h2 {
  color: rgb(34, 191, 253);
  font-size: 45px;
  text-align: center;
  background: rgba(2, 8, 32, 0.808);
  padding: 15px;
  margin: 0;
  text-decoration: underline overline;
  text-decoration-color: orangered;
  text-decoration-style: double;
}
